.nav-search {
  border: solid 2px black !important;
  width: 250px !important;
  border-radius: 5px !important;
  height: 50px;
}
.nav-search1 {
  border: solid 2px black !important;
  width: 600px !important;
  border-radius: 5px !important;
  height: 50px;
}
.login-text {
  color: black !important;
  font-size: 1.296rem !important;
  font-weight: 700 !important;
  font-family: Roboto, Helvetica, sans-serif !important;
  text-decoration: underline !important;
}
.nav-search1-end {
  background-color: #002f34ff !important;
  border: solid 2px black !important;
  width: 50px !important;
  height: 50px;
}
