::-webkit-scrollbar {
  width: 5px !important;
}
::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #090c14 !important;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  padding-right: 20px;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none !important;
}
.navbar-toggler-icon {
  width: 24px !important;
  height: 17px !important;
  background-image: none !important;
  position: relative !important;
  border-bottom: 3px solid #000 !important;
  transition: all 300ms linear;
}
.navbar-toggler-icon:after,
.navbar-toggler-icon:before {
  width: 24px !important;
  position: absolute !important;
  height: 2px !important;
  background-color: #000 !important;
  top: 0 !important;
  left: 0 !important;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
.navbar-toggler-icon:after {
  top: 8px !important;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg) !important;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg) !important;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent !important;
}

.nav-search {
  border: solid 2px black !important;
  width: 250px !important;
  border-radius: 5px !important;
  height: 50px;
}
.nav-search1 {
  border: solid 2px black !important;
  width: 600px !important;
  border-radius: 5px !important;
  height: 50px;
}
.login-text {
  color: black !important;
  font-size: 1.296rem !important;
  font-weight: 700 !important;
  font-family: Roboto, Helvetica, sans-serif !important;
  text-decoration: underline !important;
}
.nav-search1-end {
  background-color: #002f34ff !important;
  border: solid 2px black !important;
  width: 50px !important;
  height: 50px;
}
.nav-end a {
  text-decoration: none;
  color: #090c14;
}
.nav-end a:hover {
  color: #3a77ffff;
}
.all-images img{
  width: 60% !important;
  
}
.all-images h6{
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  font-weight: 700;

}
.card{
  max-width: 300px;
  max-height: 420px;
}
.card-img{
  min-height: 200px;
  
  max-height: 200px !important;
}
.card-details h6{
 font-weight: 700;
}
.card-details p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.footer-details h6{
 font-weight: 700;
 font-size: 15px;
 margin-bottom: 35px;
}
.footer-details p{
  font-weight: 700;
  font-size: 10px;
  color: rgb(95, 117, 119);
  margin-top: -10px;
 }
 .footer-end{
  background-color: #002f3433;
 }
 .footer-icons{
  width: 10% ;
 }
 .color-end{
  background-color: #002f34FF;
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
 }
@media only screen and (max-width: 600px) {
  .nav-search1 {
    width: 100px !important;
    margin-top: 10px !important;
  }
  .nav-search1-end {
    margin-top: 10px !important;
  }
  .sell-image{
    width: 50% !important;
  }
}
